:root {
  --btn-order: #2D6A4F;
  --button-offering: #E0A733;
  --button-about: #D17A50;
}
  
  body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #F8F5EC;
  }

  h1 {
    margin-top: 40px;
    font-weight: bold;
  }
  
  .navbar {
  
    margin-top: 40px;
  
  }

.header-image {
  width: 100%;
  object-fit: cover;
  height: 700px;
  border-radius: 1cm;
}

.header-image-about {
  width: 100%;
  object-fit: cover;
  height: 850px;
  border-radius: 1cm;
}

.food-menu {
  width: 100%;
  object-fit: cover;
  height: 850px;
  border-radius: 1cm;
  margin-top: 40px;
  margin-bottom: 40px;
}


/* all buttons */

.btn-order {
  background-color: var(--btn-order);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btn-order:hover {
  background-color: #245d44;
}

.button-about {
  background-color: var(--button-about);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-about:hover {
  background-color: #c56019;
}

.button-offering {
  background-color: var(--button-offering);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-offering:hover {
  background-color: #d09e3b;
}



/* offering section */

.offering-image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 600px;
  border-radius: 1cm;
}

.offering-wrapper {
  position: relative;
}


.button-offering {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

/* about section */

.image-about {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 1cm;
  display: block;
}

.about-wrapper {
  position: relative;
}

.button-about {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

/* map section */

.our-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  border-radius: 1cm;
}
  
  footer {
    margin-top: auto;
  }

  /* logos */

.logo {
  border-radius: 20%;

}

/* footer */

.footer {
  background-color: #E0A733;
}