:root {
    --bs-success: #4CAF50;
    --bs-success-rgb: 76, 175, 80;
  }
  
  /* Custom Styles */
  body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
  }
.header-image {
  max-width: 100%;
  height: 50%;
  border-radius: 10%;
}


.content-image {
  max-width: 100%;
  height: auto;
}



  
  footer {
    margin-top: auto;
  }