:root {
    --bs-success: #4CAF50;
    --bs-success-rgb: 76, 175, 80;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background-color: #F8F5EC;
  }

  h1 {
    margin-top: 40px;
  }
  
  .navbar {
  
    margin-top: 40px;
  
  }

.header-image {
  width: 100%;
  object-fit: cover;
  height: 700px;
  border-radius: 1cm;
}

/* offering section */

.offering-image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 600px;
  border-radius: 1cm;
}

.offering-wrapper {
  position: relative;
}


.button-offering {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

/* about section */

.image-about {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 1cm;
  display: block;
}

.about-wrapper {
  position: relative;
}

.button-about {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

/* map section */

.our-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  border-radius: 1cm;
}
  
  footer {
    margin-top: auto;
  }